/* Variables.module.scss */

:root {
  /* Color Variables */

  --main-background: rgb(255, 255, 255);
  --main-background-foreground: rgb(131, 125, 125);
  --main-background-accent: #837d7d;

  --main-text: #000000;
  --main-text-details: #ffffff;

  --main-border-input: rgba(0, 0, 0, 0.4);
  --main-border: rgba(0, 0, 0, 0.2);

  --main-button-background: #3f71d0;
  --main-button-text: #ffffff;
  --main-button-background-secondary: rgba(0, 0, 0, 1);
  --main-button-text-secondary: #ffffff;

  --status-success: #46c34c;
  --status-error: #cb1b3f;
}
